body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  display: flex;
  justify-content: space-around;
}

body {
  background-color: #fea500;
}

.block {
  padding: 20px;
  background-color: #b6c4bd;
}

img {
  padding: 15px;
  width: 500px;
}

.cartIcon {
  width: 70px;
}

.categoryButtonSelected:hover {
  background-color: #fea500;
  margin: 5px;
  padding: 5px;
}

.categoryButton:hover {
  background-color: #468364;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
}

.icon {
  width: 20px;
}

button {
  background-color: #dfefe7;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

p, h1, h2, h3, button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  color: #2d2f43;
}



